[submodule "backend"]
	path = backend
	url = https://github.com/ragwatson/com.ragwatson.api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ragwatson/com.ragwatson.www.git
[submodule "docs"]
	path = docs
	url = https://github.com/ragwatson/com.ragwatson.docs.git
